.marker_div{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.75em;
}
.form-row {
  margin: 0px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 48%;
}

.lucent {
  opacity: 0.4;
}

.note {
  margin: 12px 8px;
  font-size: 13px;
}

.vspc {
  margin-top: 20px;
}

.formarea {
  width: 100%;
  margin: 50px auto 0px auto;
}
.button_block {
  width: 90%;
  margin: 20px auto 0px auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map_canvas{
    width: 100%;
    height: 100%;
}

#result_from,
#result_to{
    position: absolute;
    left: 40px;
    padding: 3px;
    z-index: 100;
    border: 1px solid gray;
    border-radius: 4px;
    opacity: 0.85;
    background: #fff;
    line-height: 1;
    font-size: 14px;
}

#result_from{
    top:20px;
    height: 1em;
    display:none;
}

#result_to{
    top:50px;
    height: 1em;
    display:none;
}

#result{
    position: absolute;
    top: 10px;
    left: 68%;
    height: auto;
    width: 27%;
    right: 10px;
    display:none;
    padding: 3px;
    z-index: 100;
    border: 1px solid gray;
    border-radius: 4px;
    opacity: 0.85;
    background: #fff;
    line-height: 1;
    font-size: 14px;
    line-height: 1.5;
}

@-moz-keyframes pulsate {
    from {
    	-moz-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-moz-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-moz-transform: scale(0.3);
		opacity: 0;
	}
}
@-webkit-keyframes pulsate {
	from {
		-webkit-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
}
/* get the container that's just outside the marker image, 
	which just happens to have our Marker title in it */
#map_canvas div.gmnoprint[title="現在地"] {
	-moz-animation: pulsate 1.5s ease-in-out infinite;
	-webkit-animation: pulsate 1.5s ease-in-out infinite;
	border:1pt solid #fff;
	/* make a circle */
	-moz-border-radius:51px;
	-webkit-border-radius:51px;
	border-radius:51px;
	/* multiply the shadows, inside and outside the circle */
	-moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	-webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	/* set the ring's new dimension and re-center it */
	height:51px!important;
	margin:-18px 0 0 -18px;
	width:51px!important;
}
/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#map_canvas div[style*="987654"][title] img {*/
#map_canvas div.gmnoprint[title="現在地"] img {
	display:none;
}
/* compensate for iPhone and Android devices with high DPI, add iPad media query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
	#map_canvas div.gmnoprint[title="現在地"] {
		margin:-10px 0 0 -10px;
	}
}